# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
node_modules/

# Databases
*.db
*.db-journal
*.sqlite
prod.db

# Logs
*.log
*.err

# OS
.DS_Store
Thumbs.db

# Frontend build
expense-tracker/dist/
expense-tracker/node_modules/

# App Data
server/data/uploads/*
!server/data/uploads/.gitkeep

# Jenkins and CI/CD
Jenkinsfile
.jenkins/

# Secrets and Environment
.env
.env.*
*.key
*.pem
cert/
secrets/
